<!DOCTYPE html>
<html>
    <head>
        <title>Task 4 Main Page</title>
    </head>
    <body>
        <sup>Task4 page two</sup>
        {% block image %}
        {% endblock %}
        <table>
            <tr>
                <th>Country</th>
                <th>Figher</th>
            </tr>
            <tr>
                <td>UK, Germany, France, Italy and Spain</td>
                <td>Eurofighter Typhoon</td>
            </tr>
            <tr>
                <td>France</td>
                <td>Dassault Rafale</td>
            </tr>
            <tr>
                <td>Sweden</td>
                <td>Saab JAS 39 Gripen</td>
            </tr>
        </table>
    </body>
</html>